<!-- <h2>Todo Component</h2> -->
<div class="container">
  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="todoTitle" (keyup.enter)="addTodo()">
  </div>
  <div>
    <ul class="list-group">
	    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of todosFiltered()" @fade2>
        <input type="checkbox" [(ngModel)]="item.completed">
        <div *ngIf="!item.editing else edittodo" (dblclick)="editTodoItem(item)" [ngClass]="{'completed':item.completed}">{{item.title}}</div>
        <input *ngIf="item.editing" type="text" class="form-control" [(ngModel)]="item.title" autofocus (blur)="doneEdit(item)" (keyup.enter)="doneEdit(item)" (keyup.esc)="cancelEdit(item)">
        <span class="badge badge-danger badge-pill" (click)="deleteTodo(item.id)">X</span>
      </li>
    </ul>
  </div>
  <div class="alert alert-primary mt-2 clearfix">
    <input type="checkbox" (change)="doAllCompleted()">
    <button class="btn btn-sm btn-primary" *ngIf="atLeastOneComplete()" (click)="clearCompleted()">Clear Completed</button>
    <span  class="float-right">{{remaining()}} remainings</span> 
    </div>
    <div class="btn-group btn-group-sm" role="group">
      <button [ngClass]="{'active': filter=='all'}" (click)="filter='all'" type="button" class="btn btn-outline-primary">All</button>
      <button [ngClass]="{'active': filter=='active'}" (click)="filter='active'" type="button" class="btn btn-outline-primary">Active</button>
      <button [ngClass]="{'active': filter=='completed'}" (click)="filter='completed'" type="button" class="btn btn-outline-primary">Completed</button>
  </div>
</div>