<!-- <h2>Todo Component</h2> -->
<div class="container">
  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="todoTitle" (keyup.enter)="addTodo()">
  </div>
  <div>
    <ul class="list-group">
	    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of todos">
        <div *ngIf="!item.editing else edittodo" (dblclick)="editTodoItem(item)">{{item.title}}</div>
        <input *ngIf="item.editing" type="text" class="form-control" [(ngModel)]="item.title" autofocus (blur)="doneEdit(item)" (keyup.enter)="doneEdit(item)" (keyup.esc)="cancelEdit(item)">
        <span class="badge badge-danger badge-pill" (click)="deleteTodo(item.id)">X</span>
      </li>
    </ul>
  </div>
</div>